
#db-chart {
    margin: 10px 50px 10px 50px;
    background-color: aquamarine;
}

#card #bmi-table th, td {
    display: inline-block;
    width: 14%;
}

#ext-table {
    margin:  10px 200px 10px 200px;
}

#headtext {
    text-align: left;
    float: left;
    font-family: "Times New Roman";
    font-size: 25px;
    margin-left: 30px;
}

#db-chartHeader {
    color: rgb(1, 154, 156);
    text-align: center;
    font-family: "Times New Roman";
    font-size: 35px;
    margin: 40px 50px 0px 50px;
    padding: 5px;   
}

#myChart {
    padding: 80px 200px 100px 200px;
      
}