.ourBar {
    width: 25%;
    background-color: blue;
}

.carousel {
    background-image: url(../images/background-2277_1920.jpg);
    background-size: cover;
    opacity: .5;
}

.carousel-item {
    opacity: 0;
}